body{   background-image:url("nature13.jpeg");
        background-size:cover;
	background-attachment:fixed;
        background-repeat:no-repeat;
	background-position:center;
	border-style:solid;
        border-width:10px;
        margin-right:10px;
}
h1{     font-size:50px;
	letter-spacing:5px;
	word-spacing:10px;	
}


p{      font-size:25px;
	
}

h3{     font-size:40px;
	color:black;
	text-transform:uppercase;
}


a{     
	
	font-size:20px;
	
}


.virat{
	width=device-width;
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-left:10px;
	margin-right:10px;
	color:white;
}


.rohit{
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-left:10px;
	margin-right:10px;
	color:white;	
}


.dhoni{
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-left:10px;
	color:white;	
	margin-right:10px;
}


.rahul{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}	



.dhawan{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-left:10px;
	margin-right:10px;
	color:white;	
}


.hardik{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-left:10px;
	margin-right:10px;
	color:white;	
}


.jadeja{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}


.bumrah{
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;		
}


.rahane{
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;		
}


.bhuvneshwar{
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;		
}


.kuldeep{
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;		
}


.chahal{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;		
}


.shami{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;		
}


.manish{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;		
}


.iyer{   
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}


.pant{   
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}


.saini{  
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}


.kedar{  
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}


.prithvi{
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}


.dinesh{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-left:10px;
	margin-right:10px;
	color:white;	
}


.ishant{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}


.mayank{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-left:10px;
	margin-right:10px;
	color:white;	
}


.krunal{ 
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}


.shubman{
	border-color:black;
	border-style:dashed;
	border-radius:200px;
	margin-right:10px;
	margin-left:10px;
	color:white;	
}
